*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.portfolio{
    background-image: url('./images/landingPic.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

a, p, h2{
    font-family: 'Roboto', sans-serif;
}

/* nav styling */

.navbar{ 
    background: black;
}
.nav-link ,.navbar-brand{ 
    color: white;
    cursor: pointer;
}

.nav-link{ 
    margin-right: 20px;
}


.nav-link:hover{ 
    background: #f97300; 
    color:  #f4f4f4;}

.navbar-collapse{ 
    justify-content: flex-end;
    width: 50%;
}
.navbar-toggler-icon{
    color: white;
}

/* header */


header{
    height: 30%;
}
h1.tsn{
    padding: 100px;
    text-align: center; 
    color:white;
}
.tsn{
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    position: relative;
    font-weight: 900;
    animation: bounce 0.5s; 
   
}

.fa-bar{
    color: white;
}
/* profile section */
.profile{
    padding: 80px;
}

.card{
    box-shadow: 0  0 30px rgba(0,0,0.5);
    border-radius: 15px;
    padding-bottom: 30px;
}

.img1, img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.card:hover .img1, img{
    border-color: darkcyan;
    transition: scale(1.1);
}
.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
}

.col-md-4{
    padding: 10px;
}

/* portfolio split */
.portfolioSplit{
    background-color: black;
    color: white;
}

h2{
    text-align: center;
    padding: 10px;
}

.portfolioMotto{
    text-align: center;
}

p.works{
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;
}

img.cook, img.tour{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
}


/* footer */
footer{
    height: 20px;
}

.contactInfo{
    text-align: center;
    vertical-align: center;
    padding: 4px;
    font-size: 12px;
}